.main {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
}
.main__grid__row {
  display: flex;
  border-top: 1px solid black;
  height: 40px;
}
.main__grid__row:last-child {
  border-bottom: 1px solid black;
}
.main__grid__row__col {
  width: 40px;
  border-left: 1px solid black;
}

.main__grid__row__col:last-child {
  border-right: 1px solid black;
}
